#!/bin/sh

{{ if eq .chezmoi.os "linux" -}}
./run_once/linux/script1.sh

## apt-get update -y \
## 	&& apt-get install -y \
## 	apt-utils \
## 	build-essential \
## 	bzip2 \
## 	cmake \
## 	curl \
## 	git \
## 	gzip \
## 	libbz2-dev \
## 	libncurses5-dev \
## 	libncursesw5-dev \
## 	libffi-dev \
## 	libjpeg-dev \
## 	liblzma-dev \
## 	libreadline8 \
## 	libreadline-dev \
## 	libsqlite3-dev \
## 	libssl-dev \
## 	locales \
## 	lzma \
## 	nginx \
## 	openssl \
## 	pkg-config \
## 	python3-pip \
## 	sqlite3 \
## 	supervisor \
## 	unzip \
## 	wget \
## 	yasm \
## 	zlib1g-dev \
## 	zsh

{{ else if eq .chezmoi.os "darwin" -}}

{{ end -}}

./run_once/
